body
{
    margin:0px;
    background-color:#8F0B0B;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header
{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-align:center;
}
@media (min-width:1050px)
{
.header
{
    background: #000000;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#espaco{width: 200px;}
#img-inst
{
    padding-right: 110px; 
}
}
@media (max-width:1049px)
{
.header
{
    background: #000000;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#espaco{width: 0%;}
#img-inst
{
    padding-right: 10px; 
}
}
.header p
{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: white;
}
.header p:hover
{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #8F0B0B;
}
.container
{
    /* DESCUBRA NOSSA SELEÇÃO DE PRODUTOS */
    padding-top: 130px;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    text-align: center;
    color: #FFFFFF;
    background-image: url(/projetobecomp01/imagens/GRIFO\ -\ Logo4.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container p{font-size: 25px; color: black}
@media (min-width:1400px){
.quadradinho
{
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.blusa
{
    border-radius: 50px;
    width: 362px;
    height: 362px;
    background-color: #ffffff8e;
}
}
@media (max-width:1399px)
{
    .quadradinho
{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.blusa
{
    border-radius: 50px;
    width: 362px;
    height: 362px;
    background-color: #ffffff8e;
}
}